.elementor-kit-7 {
	--e-global-color-primary: #8750F7;
	--e-global-color-secondary: #2A1454;
	--e-global-color-text: #DDDDDD;
	--e-global-color-accent: #8750F7;
	--e-global-color-c796f89: #050709;
	--e-global-color-f55e3bc: #0F0715;
	--e-global-color-7260a68: #140C1C;
	--e-global-typography-primary-font-family: "Roboto";
	--e-global-typography-primary-font-weight: 600;
	--e-global-typography-secondary-font-family: "Roboto Slab";
	--e-global-typography-secondary-font-weight: 400;
	--e-global-typography-text-font-family: "Roboto";
	--e-global-typography-text-font-weight: 400;
	--e-global-typography-accent-font-family: "Roboto";
	--e-global-typography-accent-font-weight: 500;
}
#services{
    background-color:#050709 ;
}
.services_header{
    text-align: center;
    padding: 100px;
}
.services_header h2{
    font-family: roboto;
    font-weight: 600;
    font-size: 45px;
    padding-bottom: 12px;
    background-image: linear-gradient(to right,#8750f7 0%,#FFFFFF);
    background-clip: text;
    color: transparent;
}

.services_header p{
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 12px;
    color: #DDDDDD;
}
.services_body{
    /* display: flex; */
    margin-top: 80px;
}
.services_body .item{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8750F7;
}
.services_body .item .para h3{
    font-family: roboto;
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
    color: #FFFFFF;
    padding-top: 35px;
} 
.services_body .item  h2{
    font-family: roboto;
    font-weight: 400;
    font-size: 60px;
    margin-top: 40px;
    padding-left: 20px;
    color: #8750F7;
    padding-right: 41px;
}
.services_body .item  p{
    font-family: roboto;
    font-weight: 400;
    font-size: 40px;
    padding-left: 20px;
    color: #FFFFFF;
    padding-top: 5px;
} 
.services_body .item .icon svg{
    margin-left: 30px;
    color: #FFFFFF;
    width: 25px;
    /* padding-right: 30px; */
    
}
.services_body .item:hover{
    background-image: linear-gradient(to right,#FFFFFF,#8750f7 0%);
    transition: 0.5s;
    cursor: pointer;
}

  .item:hover h2{
    color: #FFFFFF;
  }
  .item:hover svg{
    transform: rotate(60deg);
  }

  .services_body{
    padding-bottom: 150px;
  }
